<header class="bg-gray-900 flex justify-between items-center px-6 py-4
               shadow-sm shadow-black/35" >
  <button id="menu-button" class="md:hidden text-white text-2xl mr-4">☰</button>
  <img src="http://googleusercontent.com/image_collection/image_retrieval/888118098734008396" alt="Logo" class="h-8 mr-4">

  <nav class="flex space-x-6 text-sm">
    <h2 class="font-mono text-3xl">Bolzer</h2>

  </nav>

  <div class="flex items-center space-x-4 relative">
    <div class="text-sm text-gray-400 text-right hidden sm:block">
      <div class="font-semibold text-white">[Username]</div>
    </div>
    <button id="dropdownUserAvatarButton" data-dropdown-toggle="dropdownAvatar"
            class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
            type="button">
      <span class="sr-only">Open user menu</span>
      <img class="w-10 h-10 rounded-full border-2 border-red-500" src="https://i.pravatar.cc/40"
           alt="User">
    </button>

    <div id="dropdownAvatar"
         class="z-50 hidden absolute top-14 right-0 bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
      <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
        <div>[Username]</div>
        <div class="font-medium truncate">maxMusterman@mail.com</div>
      </div>
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="dropdownUserAvatarButton">
        <li>
          <a href="#"
             class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
        </li>

      </ul>
      <div class="py-2">
        <button id="logoutBtn" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
          Logout
        </button>
      </div>
    </div>
  </div>
</header>