<aside id="sidebar"
       class="fixed inset-y-0 left-0 z-50 w-64 bg-gray-900 flex flex-col items-start py-6 space-y-8 transition-transform duration-300 ease-in-out transform -translate-x-full
              md:relative md:translate-x-0 md:w-24 md:transition-[width] md:duration-300 md:ease-in-out md:overflow-hidden md:group
              md:shadow-inner md:shadow-black/25" >
  <nav class="flex flex-col space-y-6 w-full">
    <div class="flex items-center justify-center text-red-600 text-2xl font-bold mb-10 w-full">⚽</div>

    <a href="../html/home.html" class="flex items-center justify-center hover:text-red-500 w-full">
      <i class="fa-solid fa-house text-gray-500 w-5 h-auto mr-2 text-xl hover:text-2xl hover:text-white"></i>
      <span class="whitespace-nowrap md:max-w-0 md:group-hover:max-w-xs md:transition-[max-width] md:duration-300 md:ease-in-out"></span>
    </a>

  </nav>
</aside>